@model Bazi_Web.Models.ReservationViewModel
@{
    ViewBag.Title = "Reserve";
}
@using Db201617zVaProektRnabContext;
<h2 class="page-header">Reserve a ticket</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        @using (Html.BeginForm("Reserve", "Passenger", null, FormMethod.Post, new { @class = "" }))
        {
            @Html.HiddenFor(x=>x.PlanId)
            @Html.HiddenFor(x=>x.ClassId)

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        @Model.CurrentFlightScheme.Megjuletovi_MegjuletId.Aerodromi_AerodromOdId.Adresi_AdresaId.Grad,
                        @Model.CurrentFlightScheme.Megjuletovi_MegjuletId.Aerodromi_AerodromOdId.Adresi_AdresaId.Drzhava

                        -->

                        @Model.CurrentFlightScheme.Megjuletovi_MegjuletId.Aerodromi_AerodromDoId.Adresi_AdresaId.Grad,
                        @Model.CurrentFlightScheme.Megjuletovi_MegjuletId.Aerodromi_AerodromDoId.Adresi_AdresaId.Drzhava

                        @("@")

                        @Model.CurrentFlightScheme.DatumVremeNaPoletuvanje

                        in

                        @Model.CurrentFlightScheme.Avioni_AvionId.TipNaAvioni_TipId.Klasis_TipId.Where(x => x.KlasaId == Model.ClassId).Select(x => x.ImeNaKlasa).First()

                        Class
                    </h4>
                </div>

                <div class="panel-body">
                    <div class="panel-group">
                        <h4>Choose Passenger form Account</h4>
                        <hr />
                        <select name="SelectedPassenger" class="form-control" id="SelectedPassenger">
                            @foreach (Patnici p in Model.PassengerList)
                {
                                <option value="@p.PatnikId" @((Model.SelectedPassenger == p.PatnikId)?"selected":"")>
                                    @p.Lugje_CovekId.Prezime @p.Lugje_CovekId.Ime
                                    (Passport number: @p.BrojNaPasosh )
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x=>x.SelectedPassenger)
                    </div>

                    <div class="panel-group">
                        <h4>Type of ticket</h4>
                        <hr />
                        <div class="row well-sm">
                            <span class="col-xs-6">
                                <input type="radio" id="one" value="false" name="TicketType" @((Model.TicketType==false)?"checked":"") />
                                <label for="one">One Way ticket for (Price: @(Model.CurrentFlightScheme.Cenovnicis_PlanId.Where(x => x.KlasaId == Model.ClassId).Select(x => x.CenaVoEdenPravec).FirstOrDefault()))</label>
                            </span>
                            <span class="col-xs-6">
                                <input type="radio" id="return" value="true" name="TicketType" @((Model.TicketType==true)?"checked":"") />
                                <label for="return">Return ticket for (Price: @(Model.CurrentFlightScheme.Cenovnicis_PlanId.Where(x => x.KlasaId == Model.ClassId).Select(x => x.CenaPovraten).FirstOrDefault()))</label>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(x=>x.TicketType)
                    </div>

                    <div class="panel-group">
                        <h4>Choose a seat </h4>
                        <hr />
                        <div class="row">
                            @{
                                int start = 0;
                                int end = 0;
                                foreach (Klasi item in Model.CurrentFlightScheme.Avioni_AvionId.TipNaAvioni_TipId.Klasis_TipId)
                                {

                                    if (item.KlasaId == Model.ClassId) { end += start + item.BrojNaSedistaVoKlasa; break; }
                                    else { start += item.BrojNaSedistaVoKlasa; }
                                }

                                for (int i = start + 1; i <= end; i++)
                                {
                                    {
                                        Rezervacii item = Model.ReservedList.Where(x => x.Sedishta_SedishteId.BrojNaSediste == i).FirstOrDefault();
                                        <span class="col-xs-2">
                                            <input type="radio" id="seat_@i" name="SeatNumber" value="@i"
                                                   @((item == null) ? "" : "disabled='disabled'") 
                                                   @((Model.SeatNumber == i)?"checked":"") />
                                            <label for="seat_@i" class="@((item == null) ? "" : "label label-danger")"
                                                   >Seat #@i</label>
                                        </span>
                                    }
                                }
                            }
                        </div>
                        @Html.ValidationMessageFor(x=>x.SeatNumber)
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <input type="submit" value="Reserve" class="col-md-offset-8 col-md-4 btn btn-primary" />
                    </div>
                </div>
            </div>
                                }
    </div>
</div>