@model Bazi_Web.Models.Airports
@using Db201617zVaProektRnabContext

<div class="panel-group" id="group_@Model.Number.ToString()">
        <hr />
        <h3>Flight part #@Model.Number.ToString()</h3>
        <hr />

        @if (Model.Number == 0)
        {
            <div class="row">
                <label class="col-md-3 control-label">From Destination:</label>
                <div class="col-md-9">
                    <select name="ListOfFlights[@Model.Number.ToString()].AerodromOdId" class="form-control">
                        @foreach (Aerodromi a in Model.Airs)
                        {
                            <option value="@a.AerodromId">@a.ImeNaAerodrom, @a.Adresi_AdresaId.Grad, @a.Adresi_AdresaId.Drzhava</option>
                        }
                    </select>
                </div>
            </div>
        }
        <div class="row">
            <label class="col-md-3 control-label">To Destination:</label>
            <div class="col-md-9">
                <select name="ListOfFlights[@Model.Number.ToString()].AerodromDoId" class="form-control">
                    @foreach (Aerodromi a in Model.Airs)
                    {
                        <option value="@a.AerodromId">@a.ImeNaAerodrom, @a.Adresi_AdresaId.Grad, @a.Adresi_AdresaId.Drzhava</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 control-label">Flight Time:</label>
            <div class="col-md-9">
                <input type="time" name="ListOfFlights[@Model.Number.ToString()].VremeNaLetanje" class="form-control" />
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 control-label">Flight Distanse:</label>
            <div class="col-md-9">
                <input type="number" name="ListOfFlights[@Model.Number.ToString()].Rastojanie" class="form-control" />
            </div>
        </div>
</div>
    

    
    


