@model Bazi_Web.Models.ChangePassword

<div class="form-horizontal">
    <div class="panel-group">
        @Html.AntiForgeryToken()
        @if (!String.IsNullOrEmpty(ViewBag.Message)){
            <p class="text text-success">@ViewBag.Message</p>
        }
        @Html.ValidationSummary(true, "", new { @Class = "text-danger", style = "list-style-type: none;" })

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @Class = " control-label col-md-3" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.OldPassword, new { @Class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @Class = " control-label col-md-3" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.NewPassword, new { @Class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RepeatePassword, new { @Class = " control-label col-md-3" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.RepeatePassword, new { @Class = "form-control" })
                @Html.ValidationMessageFor(m => m.RepeatePassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>