@model Bazi_Web.Models.CompanyViewModel

<div class="panel-group">
    <h3 class="text-primary">Airline Company Information</h3>
    <hr/>

    @Html.HiddenFor(x => x.CompanyId)

    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, new { @Class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.CompanyName, new { @Class = "form-control" })
            @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr/>

    @Html.EditorFor(x => x.Address, "AddressEditor")
</div>